@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 7% 18%;
    --foreground: 0 0% 98%;

    --card: 223 6% 19%;
    --card-foreground: 0 0% 98%;

    --popover: 223 6% 19%;
    --popover-foreground: 0 0% 98%;

    --primary: 235 86% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222 6% 23%;
    --secondary-foreground: 0 0% 98%;

    --muted: 223 5% 23%;
    --muted-foreground: 217 8% 70%;

    --accent: 235 86% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 222 6% 23%;
    --input: 222 6% 23%;
    --ring: 235 86% 65%;

    --radius: 0.5rem;

    --sidebar-background: 220 3% 13%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 235 86% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 223 6% 19%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 223 3% 21%;
    --sidebar-ring: 235 86% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}